#warningPopup {
    z-index: 2;
    background-color: white;
    position: fixed;
    width: 400px;
    height: auto;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    &__content {
        text-align: center;
        padding: 20px;
        flex: 1;
        & p {
            margin-top: 10px;
            color: grey;
        }
    }
    &__button {
        display: flex;
        flex-direction: column;
        & button {
            width: 100%;
            background-color: transparent;
            padding: 10px;
            border: none;
            border-top: 1px solid rgb(198, 198, 198);
            &:nth-child(1) {
                color: red;
                font-weight: 600;
            }
        }
    }
}
