@import '../../../assets/styles/variable.scss';

//phần header

.newHeader {
    height: 50px;
    position: relative;
    border-bottom: 1px solid $borderColor;

    button {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 15px;
        font-weight: bold;
        color: $primaryColor;
        background-color: transparent;
        border: none;
    }

    h6 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

//phần postcontent
.newContent {
    padding: 30px 0;
    height: calc(80vh - 50px);

    .row {
        padding: 0;
    }

    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    textarea {
        width: 100%;
        margin: 20px 0;
        border: none;
        outline: none;
    }

    svg {
        color: rgb(224, 214, 214);
        cursor: pointer;
    }
}

//phần add img
.newImg {
    &_listImg {
        margin-top: 17px;
        display: flex;
        padding: 13px 0;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
        max-height: calc(80vh - 120px);
        overflow-y: auto;
        &_singleImg {
            position: relative;
            width: calc(100% / 2 - 30px);
            height: 180px;
            &_closeIcon {
                position: absolute;
                top: 0;
                right: 0;
                width: 22px;
                height: 22px;
                background-color: white;
                display: grid;
                place-items: center;
                transform: translate(50%, -50%);
                border-radius: 50%;
                border: 1px solid black;
                cursor: pointer;
            }
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }

    &_add {
        position: relative;
        input {
            display: none;
        }

        label {
            background-color: $primaryColor;
            width: fit-content;
            padding: 5px 30px;
            border-radius: 10px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 20px;
            svg {
                color: white;
            }
        }
    }
}

#emojiIcon {
    color: red;
}
