@import "../../assets/styles/variable";

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 80px;
  border-bottom: 1px solid $borderColor;
  position: fixed;
  background-color: white;
  z-index: 1;

  &__logo {
    img {
      width: 150px;
    }
  }

  &__search {
    background-color: #efefef;
    border-radius: 20px;
    padding: 3px 10px;
    display: flex;
    align-items: center;
    position: relative;

    &__resultContainer {
      position: absolute;
      z-index: 990;
      top: 150%;
      left: 50%;
      transform: translateX(-50%);
      width: 150%;
      box-shadow: 0px 0px 3px #888888;
      border-radius: 10px;
      height: auto;
      max-height: 400px;
      overflow-y: auto;
      background-color: white;
      display: flex;
      flex-direction: column;
      padding-top: 20px;
    }
    &__triangleUp {
      background-color: white;
      z-index: 996;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-right: none;
      // box-shadow: -1px -1px 2px #888888 1px 1px white;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 140%;
      left: 50%;
      rotate: 45deg;
      transform: translateX(-50%);
    }

    svg {
      color: rgb(142, 142, 142);
      font-size: 15px;
    }

    input[type="text"] {
      width: 300px;
      border-radius: 20px;
      background-color: transparent;
      border: none;
      color: rgb(142, 142, 142);
      outline: none;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      margin-right: 20px;
      padding: 5px;
      border-radius: 50%;
    }

    svg {
      color: black;
      font-size: 28px;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: red;
      }
    }
  }

  &__profile {
    position: relative;

    span {
      margin-right: 20px;
      font-weight: 500;
      margin-top: 10px;
      position: relative;
      top: 2px;
    }

    &:hover {
      #header__profile__list {
        display: block;
      }
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    &__list {
      position: absolute;
      right: -15px;
      top: 40px;
      width: 200px;
      border-radius: 10px;
      background-color: white;
      box-shadow: 0px 0px 7px -4px #888888;
      display: none;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 20px;
        top: -15px;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          padding: 5px 10px;
          cursor: pointer;

          &:last-child {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }

          &:first-child {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }

          &:hover {
            background-color: rgb(239, 235, 235);
          }

          svg {
            margin-right: 20px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

//class
.header__icons .active {
  background-color: $primaryColor;
  box-shadow: 0 0 5px $primaryColor;
  filter: blur(3p);
  svg {
    color: white;
  }
}

.notification {
  position: relative;

  &__number {
    position: absolute;
    background-color: red;
    color: white;
    padding: 3px 7px;
    border-radius: 50%;
    font-size: 9px;
    font-weight: bold;
    top: -5px;
    right: -3px;
  }

  svg {
    cursor: pointer;
  }

  &__panel {
    position: absolute;
    width: 300px;
    left: -25px;
    background: white;
    border-radius: 10px;
    top: 35px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .noNotification {
      font-size: 13px;
      font-style: italic;
      text-align: center;
      margin: 20px 0;
      color: $primaryColor;
      font-weight: bold;
    }

    .saw {
      font-size: 12px;
      text-align: right;
      margin: 10px 10px 10px 0;
      color: $primaryColor;
      font-weight: bold;
      cursor: pointer;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      padding-top: 10px;
      li {
        padding: 5px 0 5px 20px;
      }
    }
  }
}

.notificationItem {
  display: flex;
  font-size: 13px;
  align-items: center;
  .commentName {
    font-weight: bold;
  }
  svg {
    color: $primaryColor;
    margin-right: 10px;
  }

  svg.commentIcon {
    color: $primaryColor;
  }

  svg.tymIcon {
    color: rgb(237, 73, 86);
  }

  svg.commentIcon {
    color: $primaryColor;
  }

  svg.followIcon {
    color: #1976d2;
  }
  .seePost {
    color: $primaryColor;
    font-size: 11px;
    font-style: italic;
  }
}
