@import "../../../../assets/styles/mixin";
@import "../../../../assets/styles/variable";

.comment {
  padding-top: 10px;
  align-items: center;
  font-size: 13px;
  margin: 12px 0;

  &_chilrentCmt {
    margin-left: 30px;
    padding: 0;
  }

  &_childrenStatus {
    margin-top: 10px;
    color: rgb(149, 149, 149);
    cursor: pointer;
  }

  &_like {
    position: relative;
    svg {
      font-size: 14px;
      cursor: pointer;
      position: absolute;
      right: 20px;
      &:hover {
        transform: scale(1.2);
      }
    }

    svg.likeActive {
      color: $likeColor;
    }
  }

  &_avatar {
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }

  &_content {
    &_interact {
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 5px;

      &_time {
        font-weight: 300;
        padding: 0 20px 0 0;
        color: #bfbfbf;
        font-size: 11px;
      }

      &_luotthich {
        font-weight: 500;
        padding: 0 20px 0 0;
        color: #bfbfbf;
        cursor: pointer;
        font-size: 11px;

        &:hover {
          color: #e7e4e4;
        }
      }

      &_response {
        font-weight: 500;
        color: #bfbfbf;
        cursor: pointer;
        font-size: 11px;
      }

      &_more {
        position: relative;
        color: #bfbfbf;
        cursor: pointer;
        margin-left: 15px;
        font-size: 15px;

        &_option {
          position: absolute;
          top: -5px;
          right: -73px;
          border-radius: 5px;
          overflow: hidden;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

          ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
              padding: 5px 20px;
              cursor: pointer;
              font-size: 12px;
              color: black;
              &:hover {
                background-color: #eeecec;
              }
            }
            li.disabledd {
              display: none;
            }
          }
        }
      }
    }
    &_caption {
      &_name {
        font-weight: 500;
      }

      svg {
        color: #0095f6;
        margin: 0 5px;
        font-size: 13px;
      }
    }
  }
}

.accountItem {
  margin: 20px;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid gray;
    margin-right: 5%;
  }
  &_name {
    margin-left: 20px;

    &_username {
      font-size: 14px;
      font-weight: 700;
      color: rgb(61, 61, 61);
    }
    &_realname {
      font-size: 14px;
      color: gray;
    }
  }
}

.alllikes {
  @include ModalContainer;

  &_overlay {
    @include ModalLayout;
  }
  &_content {
    @include ModalContent;
    width: 400px;
    border: 1px solid gray;
    background-color: white;

    &_header {
      position: relative;
      border-bottom: 1px solid $borderColor;
      padding: 10px 0;
      p {
        text-align: center;
        font-size: 16px;
        color: black;
      }
      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        color: gray;
        cursor: pointer;
      }
    }
    &_content {
      height: fit-content;
      overflow-y: scroll;
      @include ScrollBarCustom;
      overflow-x: hidden;

      .spinner_wrap {
        display: flex;
        justify-content: center;
        .spinner {
          text-align: center;
          margin: 20px 0;
        }
      }
    }
  }
}

//component sumary
.sumary {
  width: 400px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  z-index: 20;

  &_header {
    margin: 20px;
    display: flex;
    align-items: center;
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &_breif {
    margin: 20px;
    .col {
      display: flex;
      flex-direction: column;
      text-align: center;

      .num {
        font-weight: bold;
      }
    }
  }

  &_image {
    .col {
      padding: 0;
    }
    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }

  &_button {
    margin: 20px;
    button {
      background-color: $primaryColor;
      border: none;
    }
  }
}

.comment_childrenStatus.col-md-10.offset-md-2 {
  font-size: 12px;
  margin-top: 20px;
}

.accountItem.row {
  margin: 10px;
}
